body{
height:100%;
width:100%;
margin:0;
padding:0;
}
.main{
height:100%;
width:100%;
background-color:aquamarine;
}
.header{
height:10%;
width:100%;
background-color:yellow;
position:fixed;
display:flex;
align-items:center;
}
.text{
background-color:aquamarine;
color:red;
margin-left:1cm;
}
.text:hover{
color:blue;
}
.fheader{
height:10%;
width:100%;
background-color:green;
}
.page1{
height:90%;
width:100%;
background-color:wheat;
}
.strip{
height:8%;
width:100%;
background-color:lightgreen;
text-align:center;
display:flex;
justify-content:center;
color:yellow;
padding-bottom:10px;
color:red;
}
.content{
height:76%;
width:100%;
background-color:wheat;
display:flex;
}
.footer{
background-color:wheat;
height:14%;
width:100%;
color:red;
text-align:center;
display:flex;
justify-content:center;
margin-top:0.3cm;
}
.box1{
height:100%;
width:47%;
background-color:white;
margin-top:10px;
margin-bottom:20px;
margin-left:0.5cm;
}
.box1 p{
color:brown;
padding:1cm;
}
.box1 h2{
color:green;
text-align:center;
}
.button{
margin-left:1cm;
display:flex;
align-items:center;
justify-content:center;
}
.box2{
height:100%;
width:47%;
background-color:white;
margin-top:10px;
margin-bottom:20px;
margin-left:0.5cm;
}
.box2 h2{
color:brown;
}
.page2{
height:90%;
width:100%;
background-color:aquamarine;
}
select{
font-size:20px;
background-color:aquamarine;
width:3cm;
height:1cm;
}
.contactd{
background-color:aquamarine;
color:red;
margin-left:1cm;
height:1.5cm;
}
.contactd:hover{
color:blue;
}
#m{
color:red;
}
#m:hover{
color:blue;
}
.try{
background-color:aquamarine;
color:red;
margin-left:1cm;
height:1cm;
width:3cm;
text-align:center;
padding:10px;
}
.try:hover{
color:blue;
}
